.sectionNacional{
    border:solid;
    border-radius: 30px;
    margin: 30px;
}

.encabezadoNacional{
    text-align: center;
    font-size: 4em;
}
.artsNacional{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
}
.article{
    flex-grow: 1;
    max-width: 45%;
}